@import "../../../assets/scss/mixin.scss";
.page_notice {
  @include f($f14); position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: r(60);
  line-height: r(60);
  padding: 0 r(30);
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  box-sizing: border-box;
  white-space: nowrap;
}

.user_center_content .user_info_wrap {
  position: relative;
  height:r(292);
  background: #ff9159 url("./img/bg01.jpg") 0 0 no-repeat;
  background-size:100% 100%;
  color: #fff;
}
.user_center_content .user_info_wrap .user_info_name {
  position: absolute;
  top: r(92);
  left:r(190);
  @include  f($f16);
  font-weight: 700;
}
.user_center_content .user_info_wrap .user_info_name .user_name_text {
  margin-right: r(20);
}
.user_center_content .user_info_wrap .user_info_name .vip_value {
  padding: r(6)  r(10);
  background: url("./img/bg03.png");
  background-size: 100% 100%;
  @include  f($f12);
  color: #99471f;
  text-transform: uppercase;
  border-radius:r(5);
}
.user_center_content .user_info_wrap .user_info_name p {
  margin-top: r(18);
  font-weight: 400;
  @include  f($f16);
  color: #fff;
}
.user_center_content .user_info_wrap .link_wrap {
  position: absolute;
  top:r(70);
  right:r(46);
}
.user_center_content .user_info_wrap .link_wrap a {
  display: block;
  float: left;
}
.user_center_content .user_info_wrap .link_config {
  margin-left:r(22);
}
.user_center_content .user_info_wrap .link_config2 {
  margin-left: r(20);
  img{ height:r(46); width:r(48) }
}
.user_center_content .user_info_wrap .link_config2 {
  margin-left: r(20);
}
.user_center_content .user_info_wrap .link_config2 img{
  margin-top: -1px;
}

.user_center_content .user_info_wrap .avata_img {
  position: absolute;
  top: r(92);
  left:r(40);
  height: r(120);
  width:r(120);
}
.user_center_content .user_info_wrap .line_space {
  position: absolute;
  bottom: r(80);
  right: 0;
  width: 80%;
  height: 1px;
}
.user_center_content .user_info_wrap .user_center_menu_link {
  position: absolute;
  bottom: r(22);
  left: 0;
  @include  f($f14);
  padding-left: r(190);
  width: 100%;
  box-sizing: border-box;
}
.icon_with_text .icon {
  margin-right: r(10);
  position: relative;
}
.user_center_content .user_info_wrap .user_center_menu_link a {
  display: block;
}


.icon_with_text.with_red_dot .red_dot {
  position: absolute;
  display: block;
  width: r(14);
  height: r(14);
  background: yellow;
  top: r(-5);
  right: r(-5);
  border-radius: 50%;
}

.icon_with_text.with_red_dot { position: relative; }
.icon_with_text span { vertical-align: middle; }
.sec_box {
  margin-bottom: r(10);
  background: #fff;
}
